.info-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 70%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  color: #333;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
}

.info-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
  color: #555;
}


.price-container {
  margin-top: 15px;
}

.price-container p {
  font-size: 18px;
  color: #fff;
  margin: 0;
  transition: color 0.5s ease;
}

.apy-info h4 {
  color: #555;
  margin-bottom: 15px;
}

.ApK_uOs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #010101;
  color: #29FF94;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.ApK_uOs:hover {
  background-color: #29FF94; 
  color: #010101;
}


.fa-circle-info {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  color: #29FF94;
}



.price {
  color: #29FF94;
  font-size: 16px !important;
}


