.images-container img {
    flex: 0 0 calc(25% - 1em); /* 25% lebar parent, dikurangi margin-right */
    box-sizing: border-box;
    margin-right: 1em; /* Add margin right here */
    margin-bottom: 1.5em;
    padding-top: 1.5em;
    padding: 1.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.images-container:hover {
    transform: scale(1.05);
}

.images-container img {
    object-fit: contain;
    width: 100%;
    height: 100px;
}


.animated-box {
    position: relative;
    width: 100%;
    height: 150px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-logo {
    position: relative;
    width: 100%;
    max-width: 400px; /* Lebar maksimum logo sedikit lebih besar */
    margin: 0 auto; /* Pusatkan logo secara horizontal */
    z-index: 1; /* Pastikan logo berada di atas node bergerak */
}

.banner-logo img {
    display: block;
    width: 100%;
    height: auto;
}



.moving-node {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    animation: moveNode 5s linear infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes moveNode {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: calc(100% - 20px);
        top: 0;
    }
    50% {
        left: calc(100% - 20px);
        top: calc(100% - 20px);
    }
    75% {
        left: 0;
        top: calc(100% - 20px);
    }
    100% {
        left: 0;
        top: 0;
    }
}


  
  .info-box.blockchain-service {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.info-box.blockchain-service h2,
.info-box.blockchain-service p {
    color: #fff;
}

.info-box.endpoints a {
    color: #4BE1EC;
}

.info-box.endpoints a:hover {
    color: #38b2cc;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
}

.key-service {
    flex: 1 1 30%; /* Membuat setiap box mengambil ruang yang sama dan tidak lebih kecil dari 30% */
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.key-service:hover {
    transform: scale(1.05);
}

.key-service h2 {
    color: #FF0F7B;
    font-size: 1em;
    margin-bottom: 8px;
}

.key-service .data-container {
    padding: 10px;
    font-size: 0.85em;
    flex-grow: 1;
    color: #000;
}

.key-service .copy-message {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.75em;
    transition: opacity 0.3s ease;
}

.key-service.active .copy-message {
    display: block;
}

.cheat-sheet-button {
    display: inline-block; /* Allows for better control over width and positioning */
    background: linear-gradient(135deg, #6a82fb, #fc5c7d); /* Stylish gradient background */
    color: #ffffff;
    text-align: center;
    padding: 12px 24px; /* Slightly larger padding for a better visual effect */
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions for color and scale */
}

.cheat-sheet-button:hover, .cheat-sheet-button:focus {
    background: linear-gradient(to right, #fc466b, #3f5efb); /* Change gradient on hover/focus */
    transform: scale(1.05); /* Slight increase in size on hover/focus for emphasis */
}
